<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Follow</th>
      <th>Profile</th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.username %></td>
      <td>
        <!--%= link "Follow", to: Routes.user_path(@conn, :show, user) %-->
      </td>
      <td>
        <%= link "Profile", to: Routes.user_path(@conn, :show, user) %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
